doctype html
html.
head
  title cube
  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js")
  script(src="javascripts/sketch.js")
  body
    p This is Matthew Coming's temporary website
    p He's still learning
body

